<div class="fondo">
    <div class="text-empleado">
        Empleado: cajera
    </div>

    <div class="p-fluid p-d-flex p-jc-center">
        <div class="p-grid p-mx-auto p-col-12 p-md-7">
            <div class="p-col-12 p-md-6">
                <div class="box" pRipple>
                    <img alt="Card" width="200" height="200" src="assets/menu/menu1.jpeg">
                </div>
                <div class="p-text-center p-p-2 text-empleado">
                    VALUO
                </div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="box" pRipple><img alt="Card" width="200" height="200" src="assets/menu/menu2.jpeg"></div>
                <div class="p-text-center p-p-2 text-empleado">
                    AVALUO
                </div>
            </div>

            <div class="p-col-12 p-md-6">
                <div class="box" pRipple><img alt="Card" width="200" height="200" src="assets/menu/menu3.jpeg"></div>
                <div class="p-text-center p-p-2 text-empleado">
                    REFRENDO
                </div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="box" pRipple><img alt="Card" width="200" height="200" src="assets/menu/menu4.jpeg"></div>
                <div class="p-text-center p-p-2 text-empleado">
                    DESEMPEÑO
                </div>
            </div>
        </div>
    </div>

    <button pButton pRipple type="button" label="Salir" class="btnsalir p-button-rounded p-button-danger" (click)="salir()"></button>
</div>