.fondo {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #54b585;
}


.text-empleado {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 15px;
    
}

.box{
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 4px;
    border: 1px solid #CACFD2  ;
}

.btnsalir {
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    left: 20px;
}
