<div class="bg-image"></div>
<div class="p-fluid p-p-4 p-d-flex p-ai-center p-jc-center " style="height: 100vh;">
    <div class="p-grid">
        <div class="p-col-12">
            <p-panel class="login-header">
                <p-header>
                    INICIO DE SESION
                </p-header>
                <form [formGroup]="loginform" (ngSubmit)="login()">
                    <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>

                    <div class="p-field">
                        <label for="id_empleado">Id empleado</label>
                        <input id="id_empleado" type="text" aria-describedby="id_empleado-help"
                            placeholder="Id del empleado" pInputText formControlName="id_empleado" />

                        <div *ngIf="id_empleado.invalid && (id_empleado.dirty || id_empleado.touched)">
                            <small id="id_empleado-help" class="p-invalid" *ngIf="id_empleado.errors.required">El id del
                                empleado
                                es requerido</small>
                        </div>
                    </div>
                    <div class="p-field">
                        <label for="contrasenia">Contraseña</label>
                        <input id="contrasenia" type="password" aria-describedby="contrasenia-help"
                            placeholder="Contraseña" pInputText formControlName="contrasenia" />
                        <div *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)">
                            <small id="contrasenia-help" class="p-invalid" *ngIf="contrasenia.errors.required">La
                                contraseña es requerida</small>
                        </div>
                    </div>

                    <div class="p-px-5 espacio">

                        <button pButton pRipple type="submit" label="ACCEDER" [disabled]="loginform.invalid"
                            class="p-button-raised login-btn"></button>
                    </div>
                </form>
            </p-panel>
        </div>
    </div>
</div>

